{# twig template file
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Created: 07-21-2016 14:07
 #}
{%  extends 'SiteBundle::AhismaTheme.html.twig' %}

{% block pageContent%}
    <h1>Het appartament</h1>
    <p>
        Op de omgebouwde boerderij van Kees Kok met een oppervlakte van 2,8 hectare is 1 appartement voor verhuur aanwezig.
    </p>
    <p>
        De oppervlakte van dit appartement is 90 m².
    </p>
    <p>
        Indeling: zit- eetkamer, keuken met koelkast, gasstel en oven, badkamer met douche en toilet en 2 slaapkamers. En een gezellige veranda met tafel en stoelen.
    </p>
    <br>
    <div class="col-lg-8">
    <table class="table">
        <thead>
            <tr><th colspan="3">Prijzen arangament</th> </tr>
        </thead>
        <tbody>
        <tr>
            <td>2 persoons</td>
            <td>&euro; 50,00</td>
            <td>Per nacht</td>
        </tr>
        <tr>
            <td>Groep maximaal 6 persoons</td>
            <td>&euro; 15,00</td>
            <td>Per persoon per nacht</td>
        </tr>
        <tr>
            <td>2 persoones</td>
            <td>&euro; 250,00</td>
            <td>Per week</td>
        </tr>
        <tr>
            <td>Groep maximaal 6 persoons</td>
            <td>&euro; 350,00</td>
            <td>Per week</td>
        </tr>
        <tr>
            <td>Borg</td>
            <td>&euro; 75,00</td>
            <td></td>
        </tr>
        </tbody>
    </table>
    </div>
{% endblock %}