{# twig template file
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Created: 07-21-2016 14:04
 #}

{%  extends 'SiteBundle::AhismaTheme.html.twig' %}
{% block pageContent %}
    <h1>De camping</h1>
    <p>
        Op het kampeerterrein is plaats voor een achttal caravans / tenten met elektra- aansluiting.
        Voor de kinderen zijn er speeltoestellen aanwezig en door de ideale ligging is deze camping ook goed voor tussenstop op uw reis naar het zuiden. Er is een klein toiletgebouw aanwezig met wastafels met warm water, douches, toiletten en een afwasplaats met warmwater.
    </p>
{% endblock %}