{# twig template file
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Created: 07-21-2016 14:13
 #}
{%  extends 'SiteBundle::AhismaTheme.html.twig' %}

{% block pageContent %}
    <h1>In de omgeving</h1>
{% endblock %}